trunk/DBOnDemand/src/java/WEB-INF/wsdl/dodwebservices.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
	targetNamespace="https://syscontrol.cern.ch/Dod/"
	xmlns:impl="https://syscontrol.cern.ch/Dod/"
	xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="https://syscontrol.cern.ch/Dod/">

    <wsdl:message name="GetSnapshotsRequest">
        <wsdl:part name="instance" type="xsd:string" />
    </wsdl:message>

    <wsdl:message name="GetSnapshotsResponse">
        <wsdl:part name="snapshots" type="xsd:string" />
    </wsdl:message>
    
    <wsdl:message name="GetSlowLogsRequest">
        <wsdl:part name="instance" type="xsd:string" />
    </wsdl:message>

    <wsdl:message name="GetSlowLogsResponse">
        <wsdl:part name="slowLogs" type="xsd:string" />
    </wsdl:message>
    
    <wsdl:message name="GetOracleLogsRequest">
        <wsdl:part name="instance" type="xsd:string" />
    </wsdl:message>

    <wsdl:message name="GetOracleLogsResponse">
        <wsdl:part name="logs" type="xsd:string" />
    </wsdl:message>

    <wsdl:message name="GetMySQLConfigFileRequest">
        <wsdl:part name="instance" type="xsd:string" />
    </wsdl:message>

    <wsdl:message name="GetMySQLConfigFileResponse">
        <wsdl:part name="file" type="xsd:string" />
    </wsdl:message>
    
    <wsdl:message name="ServeFileRequest">
        <wsdl:part name="instance" type="xsd:string" />
	<wsdl:part name="filePath" type="xsd:string" />
    </wsdl:message>

    <wsdl:message name="ServeFileResponse">
        <wsdl:part name="url" type="xsd:anyURI" />
    </wsdl:message>

    <wsdl:message name="GetParamRequest">
        <wsdl:part name="instance" type="xsd:string" />
	<wsdl:part name="param" type="xsd:string" />
    </wsdl:message>

    <wsdl:message name="GetParamResponse">
        <wsdl:part name="paramValue" type="xsd:string" />
    </wsdl:message>

    <wsdl:portType name="DODWebServicePortType">
        <wsdl:operation name="GetSnapshots">
            <wsdl:input message="impl:GetSnapshotsRequest" name="GetSnapshotsRequest" />
            <wsdl:output message="impl:GetSnapshotsResponse" name="GetSnapshotsResponse" />
        </wsdl:operation>
        <wsdl:operation name="GetSlowLogs">
            <wsdl:input message="impl:GetSlowLogsRequest" name="GetSlowLogsRequest" />
            <wsdl:output message="impl:GetSlowLogsResponse" name="GetSlowLogsResponse" />
        </wsdl:operation>
        <wsdl:operation name="GetOracleLogs">
            <wsdl:input message="impl:GetOracleLogsRequest" name="GetOracleLogsRequest" />
            <wsdl:output message="impl:GetOracleLogsResponse" name="GetOracleLogsResponse" />
        </wsdl:operation>
        <wsdl:operation name="GetMySQLConfigFile">
            <wsdl:input message="impl:GetMySQLConfigFileRequest" name="GetMySQLConfigFileRequest" />
            <wsdl:output message="impl:GetMySQLConfigFileResponse" name="GetMySQLConfigFileResponse" />
        </wsdl:operation>
        <wsdl:operation name="ServeFile">
            <wsdl:input message="impl:ServeFileRequest" name="ServeFileRequest" />
            <wsdl:output message="impl:ServeFileResponse" name="ServeFileResponse" />
        </wsdl:operation>
        <wsdl:operation name="GetParam">
            <wsdl:input message="impl:GetParamRequest" name="GetParamRequest" />
            <wsdl:output message="impl:GetParamResponse" name="GetParamResponse" />
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="DODWebServiceSoapBinding" type="impl:DODWebServicePortType">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="GetSnapshots">
            <wsdlsoap:operation soapAction="https://syscontrol.cern.ch/Dod/#GetSnapshots"/>
            <wsdl:input name="GetSnapshotsRequest">
                <wsdlsoap:body namespace="https://syscontrol.cern.ch/Dod/" use="literal" />
            </wsdl:input>
            <wsdl:output name="GetSnapshotsResponse">
                <wsdlsoap:body namespace="https://syscontrol.cern.ch/Dod/" use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetSlowLogs">
            <wsdlsoap:operation soapAction="https://syscontrol.cern.ch/Dod/#GetSlowLogs"/>
            <wsdl:input name="GetSlowLogsRequest">
                <wsdlsoap:body namespace="https://syscontrol.cern.ch/Dod/" use="literal" />
            </wsdl:input>
            <wsdl:output name="GetSlowLogsResponse">
                <wsdlsoap:body namespace="https://syscontrol.cern.ch/Dod/" use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetOracleLogs">
            <wsdlsoap:operation soapAction="https://syscontrol.cern.ch/Dod/#GetOracleLogs"/>
            <wsdl:input name="GetOracleLogsRequest">
                <wsdlsoap:body namespace="https://syscontrol.cern.ch/Dod/" use="literal" />
            </wsdl:input>
            <wsdl:output name="GetOracleLogsResponse">
                <wsdlsoap:body namespace="https://syscontrol.cern.ch/Dod/" use="literal" />
            </wsdl:output>
        </wsdl:operation>
	<wsdl:operation name="GetMySQLConfigFile">
            <wsdlsoap:operation soapAction="https://syscontrol.cern.ch/Dod/#GetMySQLConfigFile"/>
            <wsdl:input name="GetMySQLConfigFileRequest">
                <wsdlsoap:body namespace="https://syscontrol.cern.ch/Dod/" use="literal" />
            </wsdl:input>
            <wsdl:output name="GetMySQLConfigFileResponse">
                <wsdlsoap:body namespace="https://syscontrol.cern.ch/Dod/" use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ServeFile">
            <wsdlsoap:operation soapAction="https://syscontrol.cern.ch/Dod/#ServeFile"/>
            <wsdl:input name="ServeFileRequest">
                <wsdlsoap:body namespace="https://syscontrol.cern.ch/Dod/" use="literal" />
            </wsdl:input>
            <wsdl:output name="ServeFileResponse">
                <wsdlsoap:body namespace="https://syscontrol.cern.ch/Dod/" use="literal" />
            </wsdl:output>
        </wsdl:operation>
	<wsdl:operation name="GetParam">
            <wsdlsoap:operation soapAction="https://syscontrol.cern.ch/Dod/#GetParam"/>
            <wsdl:input name="GetParamRequest">
                <wsdlsoap:body namespace="https://syscontrol.cern.ch/Dod/" use="literal" />
            </wsdl:input>
            <wsdl:output name="GetParamResponse">
                <wsdlsoap:body namespace="https://syscontrol.cern.ch/Dod/" use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="DODWebService">
        <wsdl:port binding="impl:DODWebServiceSoapBinding" name="DODWebServicePort">
            <wsdlsoap:address location="https://syscontrol.cern.ch/dod/webservices/dod.cgi" />
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>
