webapp/DBOnDemand/src/java/WEB-INF/wsdl/egroups.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="https://foundservices.cern.ch/ws/egroups/v1/schema/EgroupsServicesSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="https://foundservices.cern.ch/ws/egroups/v1/EgroupsWebService" targetNamespace="https://foundservices.cern.ch/ws/egroups/v1/EgroupsWebService">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="https://foundservices.cern.ch/ws/egroups/v1/schema/EgroupsServicesSchema">

      <xs:element name="AddEgroupEmailMembersRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="1" name="egroupName" type="xs:string"/>
            <xs:element maxOccurs="1" minOccurs="1" name="members" type="sch:EmailsType"/>
            <xs:element maxOccurs="1" minOccurs="1" name="overwriteMembers" type="xs:boolean"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="AddEgroupEmailMembersResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="1" name="transactionId" type="xs:string"/>
            <xs:element maxOccurs="1" minOccurs="0" name="error" type="sch:ErrorType"/>
            <xs:element maxOccurs="1" minOccurs="0" name="warnings" type="sch:WarningsType"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>

      <xs:element name="UpdateEmailPropertiesRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="1" name="egroupName" type="xs:string"/>
            <xs:element maxOccurs="1" minOccurs="1" name="EmailProperties" type="sch:EmailPropertiesType"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="UpdateEmailPropertiesResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="1" name="transactionId" type="xs:string"/>
            <xs:element maxOccurs="1" minOccurs="0" name="error" type="sch:ErrorType"/>
            <xs:element maxOccurs="1" minOccurs="0" name="warnings" type="sch:WarningsType"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>

      <xs:element name="AddEgroupMembersRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="1" name="egroupName" type="xs:string"/>
            <xs:element maxOccurs="1" minOccurs="1" name="members" type="sch:MembersType"/>
            <xs:element maxOccurs="1" minOccurs="1" name="overwriteMembers" type="xs:boolean"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="AddEgroupMembersResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="1" name="transactionId" type="xs:string"/>
            <xs:element maxOccurs="1" minOccurs="0" name="error" type="sch:ErrorType"/>
            <xs:element maxOccurs="1" minOccurs="0" name="warnings" type="sch:WarningsType"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>

      <xs:element name="RemoveEgroupMembersRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="1" name="egroupName" type="xs:string"/>
            <xs:element maxOccurs="1" minOccurs="1" name="members" type="sch:MembersType"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="RemoveEgroupMembersResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="1" name="transactionId" type="xs:string"/>
            <xs:element maxOccurs="1" minOccurs="0" name="error" type="sch:ErrorType"/>
            <xs:element maxOccurs="1" minOccurs="0" name="warnings" type="sch:WarningsType"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>

      <xs:element name="RemoveEgroupEmailMembersRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="1" name="egroupName" type="xs:string"/>
            <xs:element maxOccurs="1" minOccurs="1" name="members" type="sch:EmailsType"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="RemoveEgroupEmailMembersResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="1" name="transactionId" type="xs:string"/>
            <xs:element maxOccurs="1" minOccurs="0" name="error" type="sch:ErrorType"/>
            <xs:element maxOccurs="1" minOccurs="0" name="warnings" type="sch:WarningsType"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>

      <xs:element name="GetEgroupsUserOwnOrManageRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="1" name="userName" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetEgroupsUserOwnOrManageResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="1" name="result" type="sch:EgroupsType"/>
            <xs:element maxOccurs="1" minOccurs="1" name="transactionId" type="xs:string"/>
            <xs:element maxOccurs="1" minOccurs="0" name="error" type="sch:ErrorType"/>
            <xs:element maxOccurs="1" minOccurs="0" name="warnings" type="sch:WarningsType"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>

      <xs:element name="ChangeExternalEmailAddressRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="1" name="oldEmail" type="xs:string"/>
            <xs:element maxOccurs="1" minOccurs="1" name="newEmail" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ChangeExternalEmailAddressResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="1" name="result" type="xs:int"/>
            <xs:element maxOccurs="1" minOccurs="1" name="transactionId" type="xs:string"/>
            <xs:element maxOccurs="1" minOccurs="0" name="error" type="sch:ErrorType"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>

      <xs:element name="FindEgroupByNameRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="1" name="name" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="FindEgroupByNameResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="result" type="sch:EgroupType"/>
            <xs:element maxOccurs="1" minOccurs="1" name="transactionId" type="xs:string"/>
            <xs:element maxOccurs="1" minOccurs="0" name="error" type="sch:ErrorType"/>
            <xs:element maxOccurs="1" minOccurs="0" name="warnings" type="sch:WarningsType"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>

      <xs:element name="FindEgroupByIdRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="1" name="id" type="xs:long"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="FindEgroupByIdResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="result" type="sch:EgroupType"/>
            <xs:element maxOccurs="1" minOccurs="1" name="transactionId" type="xs:string"/>
            <xs:element maxOccurs="1" minOccurs="0" name="error" type="sch:ErrorType"/>
            <xs:element maxOccurs="1" minOccurs="0" name="warnings" type="sch:WarningsType"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>

      <xs:element name="DeleteEgroupRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="1" name="egroupName" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="DeleteEgroupResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="1" name="transactionId" type="xs:string"/>
            <xs:element maxOccurs="1" minOccurs="0" name="error" type="sch:ErrorType"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>

      <xs:element name="SynchronizeEgroupRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="1" name="egroup" type="sch:EgroupType"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="SynchronizeEgroupResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="1" name="transactionId" type="xs:string"/>
            <xs:element maxOccurs="1" minOccurs="0" name="error" type="sch:ErrorType"/>
            <xs:element maxOccurs="1" minOccurs="0" name="warnings" type="sch:WarningsType"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>

      <xs:complexType name="EgroupsType">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Egroup" type="sch:EgroupType"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="EgroupType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="Name" type="xs:string"/>
          <xs:element maxOccurs="1" minOccurs="0" name="Aliases" type="sch:AliasesType"/>
          <xs:element maxOccurs="1" minOccurs="0" name="ID" type="xs:long"/>
          <xs:element maxOccurs="1" minOccurs="1" name="Type" type="sch:EgroupTypeCode"/>
          <xs:element maxOccurs="1" minOccurs="0" name="Status" type="sch:StatusCode"/>
          <xs:element maxOccurs="1" minOccurs="0" name="BlockingReason" type="sch:BlockingReasonCode"/>
          <xs:element maxOccurs="1" minOccurs="1" name="Usage" type="sch:UsageCode"/>
          <xs:element maxOccurs="1" minOccurs="0" name="Topic" type="xs:string"/>
          <xs:element maxOccurs="1" minOccurs="1" name="Description" type="xs:string"/>
          <xs:element maxOccurs="1" minOccurs="0" name="Comments" type="xs:string"/>
          <!-- ExpiryDate: YYYY-MM-DD-->
          <xs:element maxOccurs="1" minOccurs="0" name="ExpiryDate" type="xs:date"/>
          <xs:element maxOccurs="1" minOccurs="1" name="Owner" type="sch:UserType"/>
          <xs:element maxOccurs="1" minOccurs="0" name="AdministratorEgroup" type="xs:string"/>
          <xs:element maxOccurs="1" minOccurs="1" name="Privacy" type="sch:PrivacyType"/>
          <xs:element maxOccurs="1" minOccurs="1" name="Selfsubscription" type="sch:SelfsubscriptionType"/>
          <xs:element maxOccurs="1" minOccurs="0" name="SelfsubscriptionEgroups" type="sch:SelfsubscriptionEgroupsType"/>
          <xs:element maxOccurs="1" minOccurs="1" name="Members" type="sch:MembersType"/>
          <xs:element maxOccurs="1" minOccurs="0" name="EmailProperties" type="sch:EmailPropertiesType"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="EmailsType">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="1" name="Emails" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="ErrorType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="Code" type="xs:string"/>
          <xs:element maxOccurs="1" minOccurs="1" name="Message" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="SelfsubscriptionEgroupsType">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="SelfsubscriptionEgroups" type="sch:SelfsubscriptionEgroupType"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="WarningsType">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Warnings" type="sch:ErrorType"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="MembersType">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Members" type="sch:MemberType"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="AliasesType">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="1" name="Alias" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>

      <xs:simpleType name="EgroupTypeCode">
        <xs:restriction base="xs:string">
          <xs:enumeration value="StaticEgroup"/>
          <xs:enumeration value="DynamicEgroup"/>
        </xs:restriction>
      </xs:simpleType>

      <xs:simpleType name="StatusCode">
        <xs:restriction base="xs:string">
          <xs:enumeration value="Created"/>
          <xs:enumeration value="Active"/>
          <xs:enumeration value="Blocked"/>
          <xs:enumeration value="Deleted"/>
        </xs:restriction>
      </xs:simpleType>

      <xs:simpleType name="BlockingReasonCode">
        <xs:restriction base="xs:string">
          <xs:enumeration value="Manual"/>
          <xs:enumeration value="Expired"/>
        </xs:restriction>
      </xs:simpleType>

      <xs:simpleType name="UsageCode">
        <xs:restriction base="xs:string">
          <xs:enumeration value="EgroupsOnly"/>
          <xs:enumeration value="SecurityMailing"/>
        </xs:restriction>
      </xs:simpleType>

      <xs:complexType name="UserType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="PersonId" type="xs:long"/>
          <xs:element maxOccurs="1" minOccurs="0" name="Name" type="xs:string"/>
          <xs:element maxOccurs="1" minOccurs="0" name="ComputingRulesSigned" type="xs:boolean"/>
          <xs:element maxOccurs="1" minOccurs="0" name="Pem" type="xs:string"/>
          <xs:element maxOccurs="1" minOccurs="0" name="PrimaryGem" type="sch:GemType"/>
          <xs:element maxOccurs="1" minOccurs="0" name="CernUnit" type="xs:string"/>
          <xs:element maxOccurs="1" minOccurs="0" name="CernDepartment" type="xs:string"/>
          <xs:element maxOccurs="1" minOccurs="0" name="CernGroup" type="xs:string"/>
          <xs:element maxOccurs="1" minOccurs="0" name="Telephone1" type="xs:string"/>
          <xs:element maxOccurs="1" minOccurs="0" name="Fax" type="xs:string"/>
          <xs:element maxOccurs="1" minOccurs="0" name="Building" type="xs:string"/>
          <xs:element maxOccurs="1" minOccurs="0" name="Floor" type="xs:string"/>
          <xs:element maxOccurs="1" minOccurs="0" name="Room" type="xs:string"/>
          <xs:element maxOccurs="1" minOccurs="0" name="Mailbox" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GemType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="EmailAddress" type="xs:string"/>
          <xs:element maxOccurs="1" minOccurs="1" name="DisplayInPhonebook" type="xs:boolean"/>
        </xs:sequence>
      </xs:complexType>

      <xs:simpleType name="AdministratorTypeCode">
        <xs:restriction base="xs:string">
          <xs:enumeration value="StaticEgroup"/>
          <xs:enumeration value="DynamicEgroup"/>
        </xs:restriction>
      </xs:simpleType>

      <xs:simpleType name="PrivacyType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="Members"/>
          <xs:enumeration value="Open"/>
          <xs:enumeration value="Administrators"/>
          <xs:enumeration value="Users"/>
        </xs:restriction>
      </xs:simpleType>


      <xs:simpleType name="SelfsubscriptionType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="Closed"/>
          <xs:enumeration value="Open"/>
          <xs:enumeration value="Members"/>
          <xs:enumeration value="Users"/>
          <xs:enumeration value="OpenWithAdminApproval"/>
          <xs:enumeration value="UsersWithAdminApproval"/>
        </xs:restriction>
      </xs:simpleType>

      <xs:complexType name="SelfsubscriptionEgroupType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="ID" type="xs:long"/>
          <xs:element maxOccurs="1" minOccurs="1" name="ApprovalNeeded" type="xs:boolean"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="MemberType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="ID" type="xs:string"/>
          <xs:element maxOccurs="1" minOccurs="1" name="Type" type="sch:MemberTypeCode"/>
          <xs:element maxOccurs="1" minOccurs="0" name="Name" type="xs:string"/>
          <xs:element maxOccurs="1" minOccurs="0" name="Email" type="xs:string"/>
          <xs:element maxOccurs="1" minOccurs="0" name="PrimaryAccount" type="xs:string"/>
          <xs:element maxOccurs="1" minOccurs="0" name="Comments" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>

      <xs:simpleType name="MemberTypeCode">
        <xs:restriction base="xs:string">
          <xs:enumeration value="External"/>
          <xs:enumeration value="Person"/>
          <xs:enumeration value="ServiceProvider"/>
          <xs:enumeration value="StaticEgroup"/>
          <xs:enumeration value="DynamicEgroup"/>
          <xs:enumeration value="Account"/>
        </xs:restriction>
      </xs:simpleType>

      <xs:complexType name="EmailPropertiesType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="MailPostingRestrictions" type="sch:MailPostingRestrictionType"/>
          <xs:element maxOccurs="1" minOccurs="1" name="SenderAuthenticationEnabled" type="xs:boolean"/>
          <xs:element maxOccurs="1" minOccurs="1" name="WhoReceivesDeliveryErrors" type="sch:WhoReceivesDeliveryErrorsType"/>
          <xs:element maxOccurs="1" minOccurs="1" name="MaxMailSize" type="xs:positiveInteger"/>
          <xs:element maxOccurs="1" minOccurs="1" name="ArchiveProperties" type="sch:ArchivePropertiesType"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="MailPostingRestrictionType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="PostingRestrictions" type="sch:PostingRestrictionType"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="OtherRecipientsAllowedToPost" type="sch:MemberType"/>
        </xs:sequence>
      </xs:complexType>

      <xs:simpleType name="PostingRestrictionType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="Everyone"/>
          <xs:enumeration value="CernUsers"/>
          <xs:enumeration value="OwnerAdminsAndOthers"/>
        </xs:restriction>
      </xs:simpleType>

      <xs:simpleType name="WhoReceivesDeliveryErrorsType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="GroupOwner"/>
          <xs:enumeration value="Sender"/>
          <xs:enumeration value="None"/>
        </xs:restriction>
      </xs:simpleType>

      <xs:simpleType name="ArchivePropertiesType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="DoesNotExist"/>
          <xs:enumeration value="Active"/>
          <xs:enumeration value="NotActive"/>
        </xs:restriction>
      </xs:simpleType>

    </xs:schema>
  </wsdl:types>

  <wsdl:message name="UpdateEmailPropertiesResponse">
    <wsdl:part element="sch:UpdateEmailPropertiesResponse" name="UpdateEmailPropertiesResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="UpdateEmailPropertiesRequest">
    <wsdl:part element="sch:UpdateEmailPropertiesRequest" name="UpdateEmailPropertiesRequest">
    </wsdl:part>
  </wsdl:message>

  <wsdl:message name="AddEgroupEmailMembersResponse">
    <wsdl:part element="sch:AddEgroupEmailMembersResponse" name="AddEgroupEmailMembersResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AddEgroupEmailMembersRequest">
    <wsdl:part element="sch:AddEgroupEmailMembersRequest" name="AddEgroupEmailMembersRequest">
    </wsdl:part>
  </wsdl:message>

  <wsdl:message name="RemoveEgroupEmailMembersResponse">
    <wsdl:part element="sch:RemoveEgroupEmailMembersResponse" name="RemoveEgroupEmailMembersResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="RemoveEgroupEmailMembersRequest">
    <wsdl:part element="sch:RemoveEgroupEmailMembersRequest" name="RemoveEgroupEmailMembersRequest">
    </wsdl:part>
  </wsdl:message>

  <wsdl:message name="AddEgroupMembersResponse">
    <wsdl:part element="sch:AddEgroupMembersResponse" name="AddEgroupMembersResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AddEgroupMembersRequest">
    <wsdl:part element="sch:AddEgroupMembersRequest" name="AddEgroupMembersRequest">
    </wsdl:part>
  </wsdl:message>

  <wsdl:message name="RemoveEgroupMembersResponse">
    <wsdl:part element="sch:RemoveEgroupMembersResponse" name="RemoveEgroupMembersResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="RemoveEgroupMembersRequest">
    <wsdl:part element="sch:RemoveEgroupMembersRequest" name="RemoveEgroupMembersRequest">
    </wsdl:part>
  </wsdl:message>

  <wsdl:message name="GetEgroupsUserOwnOrManageResponse">
    <wsdl:part element="sch:GetEgroupsUserOwnOrManageResponse" name="GetEgroupsUserOwnOrManageResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetEgroupsUserOwnOrManageRequest">
    <wsdl:part element="sch:GetEgroupsUserOwnOrManageRequest" name="GetEgroupsUserOwnOrManageRequest">
    </wsdl:part>
  </wsdl:message>


  <wsdl:message name="FindEgroupByNameResponse">
    <wsdl:part element="sch:FindEgroupByNameResponse" name="FindEgroupByNameResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="FindEgroupByNameRequest">
    <wsdl:part element="sch:FindEgroupByNameRequest" name="FindEgroupByNameRequest">
    </wsdl:part>
  </wsdl:message>

  <wsdl:message name="ChangeExternalEmailAddressResponse">
    <wsdl:part element="sch:ChangeExternalEmailAddressResponse" name="ChangeExternalEmailAddressResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ChangeExternalEmailAddressRequest">
    <wsdl:part element="sch:ChangeExternalEmailAddressRequest" name="ChangeExternalEmailAddressRequest">
    </wsdl:part>
  </wsdl:message>

  <wsdl:message name="FindEgroupByIdResponse">
    <wsdl:part element="sch:FindEgroupByIdResponse" name="FindEgroupByIdResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="FindEgroupByIdRequest">
    <wsdl:part element="sch:FindEgroupByIdRequest" name="FindEgroupByIdRequest">
    </wsdl:part>
  </wsdl:message>

  <wsdl:message name="DeleteEgroupResponse">
    <wsdl:part element="sch:DeleteEgroupResponse" name="DeleteEgroupResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="DeleteEgroupRequest">
    <wsdl:part element="sch:DeleteEgroupRequest" name="DeleteEgroupRequest">
    </wsdl:part>
  </wsdl:message>

  <wsdl:message name="SynchronizeEgroupResponse">
    <wsdl:part element="sch:SynchronizeEgroupResponse" name="SynchronizeEgroupResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SynchronizeEgroupRequest">
    <wsdl:part element="sch:SynchronizeEgroupRequest" name="SynchronizeEgroupRequest">
    </wsdl:part>
  </wsdl:message>

  <wsdl:portType name="EgroupsService">

    <wsdl:operation name="UpdateEmailProperties">
      <wsdl:input message="tns:UpdateEmailPropertiesRequest" name="UpdateEmailPropertiesRequest">
      </wsdl:input>
      <wsdl:output message="tns:UpdateEmailPropertiesResponse" name="UpdateEmailPropertiesResponse">
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="AddEgroupEmailMembers">
      <wsdl:input message="tns:AddEgroupEmailMembersRequest" name="AddEgroupEmailMembersRequest">
      </wsdl:input>
      <wsdl:output message="tns:AddEgroupEmailMembersResponse" name="AddEgroupEmailMembersResponse">
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="RemoveEgroupEmailMembers">
      <wsdl:input message="tns:RemoveEgroupEmailMembersRequest" name="RemoveEgroupEmailMembersRequest">
      </wsdl:input>
      <wsdl:output message="tns:RemoveEgroupEmailMembersResponse" name="RemoveEgroupEmailMembersResponse">
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="AddEgroupMembers">
      <wsdl:input message="tns:AddEgroupMembersRequest" name="AddEgroupMembersRequest">
      </wsdl:input>
      <wsdl:output message="tns:AddEgroupMembersResponse" name="AddEgroupMembersResponse">
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="RemoveEgroupMembers">
      <wsdl:input message="tns:RemoveEgroupMembersRequest" name="RemoveEgroupMembersRequest">
      </wsdl:input>
      <wsdl:output message="tns:RemoveEgroupMembersResponse" name="RemoveEgroupMembersResponse">
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="GetEgroupsUserOwnOrManage">
      <wsdl:input message="tns:GetEgroupsUserOwnOrManageRequest" name="GetEgroupsUserOwnOrManageRequest">
      </wsdl:input>
      <wsdl:output message="tns:GetEgroupsUserOwnOrManageResponse" name="GetEgroupsUserOwnOrManageResponse">
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="FindEgroupByName">
      <wsdl:input message="tns:FindEgroupByNameRequest" name="FindEgroupByNameRequest">
      </wsdl:input>
      <wsdl:output message="tns:FindEgroupByNameResponse" name="FindEgroupByNameResponse">
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="FindEgroupById">
      <wsdl:input message="tns:FindEgroupByIdRequest" name="FindEgroupByIdRequest">
      </wsdl:input>
      <wsdl:output message="tns:FindEgroupByIdResponse" name="FindEgroupByIdResponse">
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="ChangeExternalEmailAddress">
      <wsdl:input message="tns:ChangeExternalEmailAddressRequest" name="ChangeExternalEmailAddressRequest">
      </wsdl:input>
      <wsdl:output message="tns:ChangeExternalEmailAddressResponse" name="ChangeExternalEmailAddressResponse">
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="SynchronizeEgroup">
      <wsdl:input message="tns:SynchronizeEgroupRequest" name="SynchronizeEgroupRequest">
      </wsdl:input>
      <wsdl:output message="tns:SynchronizeEgroupResponse" name="SynchronizeEgroupResponse">
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="DeleteEgroup">
      <wsdl:input message="tns:DeleteEgroupRequest" name="DeleteEgroupRequest">
      </wsdl:input>
      <wsdl:output message="tns:DeleteEgroupResponse" name="DeleteEgroupResponse">
      </wsdl:output>
    </wsdl:operation>

  </wsdl:portType>

  <wsdl:binding name="EgroupsServiceSoap11" type="tns:EgroupsService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

    <wsdl:operation name="UpdateEmailProperties">
      <soap:operation soapAction=""/>
      <wsdl:input name="UpdateEmailPropertiesRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="UpdateEmailPropertiesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="AddEgroupEmailMembers">
      <soap:operation soapAction=""/>
      <wsdl:input name="AddEgroupEmailMembersRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="AddEgroupEmailMembersResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="RemoveEgroupEmailMembers">
      <soap:operation soapAction=""/>
      <wsdl:input name="RemoveEgroupEmailMembersRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="RemoveEgroupEmailMembersResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="AddEgroupMembers">
      <soap:operation soapAction=""/>
      <wsdl:input name="AddEgroupMembersRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="AddEgroupMembersResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="RemoveEgroupMembers">
      <soap:operation soapAction=""/>
      <wsdl:input name="RemoveEgroupMembersRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="RemoveEgroupMembersResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="GetEgroupsUserOwnOrManage">
      <soap:operation soapAction=""/>
      <wsdl:input name="GetEgroupsUserOwnOrManageRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetEgroupsUserOwnOrManageResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="FindEgroupById">
      <soap:operation soapAction=""/>
      <wsdl:input name="FindEgroupByIdRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="FindEgroupByIdResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="FindEgroupByName">
      <soap:operation soapAction=""/>
      <wsdl:input name="FindEgroupByNameRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="FindEgroupByNameResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="ChangeExternalEmailAddress">
      <soap:operation soapAction=""/>
      <wsdl:input name="ChangeExternalEmailAddressRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="ChangeExternalEmailAddressResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="DeleteEgroup">
      <soap:operation soapAction=""/>
      <wsdl:input name="DeleteEgroupRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="DeleteEgroupResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="SynchronizeEgroup">
      <soap:operation soapAction=""/>
      <wsdl:input name="SynchronizeEgroupRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="SynchronizeEgroupResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

  </wsdl:binding>

  <wsdl:service name="EgroupsWebService">
    <wsdl:port binding="tns:EgroupsServiceSoap11" name="EgroupsServiceSoap11">
      <soap:address location="https://foundservices.cern.ch:443/ws/egroups/v1/EgroupsWebService/"/>
    </wsdl:port>
  </wsdl:service>

</wsdl:definitions>