src/main/resources/ch/cern/dbod/ws/wsdl/egroups.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="https://foundservices.cern.ch/ws/egroups/v1/schema/EgroupsServicesSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="https://foundservices.cern.ch/ws/egroups/v1/EgroupsWebService" targetNamespace="https://foundservices.cern.ch/ws/egroups/v1/EgroupsWebService">

  <wsdl:types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="https://foundservices.cern.ch/ws/egroups/v1/EgroupsWebService">
      <import namespace="https://foundservices.cern.ch/ws/egroups/v1/schema/EgroupsServicesSchema" schemaLocation="EgroupsServicesSchema.xsd"/>
    </schema>
  </wsdl:types>

  <wsdl:message name="UpdateEmailPropertiesResponse">
    <wsdl:part element="sch:UpdateEmailPropertiesResponse" name="UpdateEmailPropertiesResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="UpdateEmailPropertiesRequest">
    <wsdl:part element="sch:UpdateEmailPropertiesRequest" name="UpdateEmailPropertiesRequest">
    </wsdl:part>
  </wsdl:message>

  <wsdl:message name="AddEgroupEmailMembersResponse">
    <wsdl:part element="sch:AddEgroupEmailMembersResponse" name="AddEgroupEmailMembersResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AddEgroupEmailMembersRequest">
    <wsdl:part element="sch:AddEgroupEmailMembersRequest" name="AddEgroupEmailMembersRequest">
    </wsdl:part>
  </wsdl:message>

  <wsdl:message name="RemoveEgroupEmailMembersResponse">
    <wsdl:part element="sch:RemoveEgroupEmailMembersResponse" name="RemoveEgroupEmailMembersResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="RemoveEgroupEmailMembersRequest">
    <wsdl:part element="sch:RemoveEgroupEmailMembersRequest" name="RemoveEgroupEmailMembersRequest">
    </wsdl:part>
  </wsdl:message>

  <wsdl:message name="AddEgroupMembersResponse">
    <wsdl:part element="sch:AddEgroupMembersResponse" name="AddEgroupMembersResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AddEgroupMembersRequest">
    <wsdl:part element="sch:AddEgroupMembersRequest" name="AddEgroupMembersRequest">
    </wsdl:part>
  </wsdl:message>

  <wsdl:message name="RemoveEgroupMembersResponse">
    <wsdl:part element="sch:RemoveEgroupMembersResponse" name="RemoveEgroupMembersResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="RemoveEgroupMembersRequest">
    <wsdl:part element="sch:RemoveEgroupMembersRequest" name="RemoveEgroupMembersRequest">
    </wsdl:part>
  </wsdl:message>

  <wsdl:message name="GetEgroupsUserOwnOrManageResponse">
    <wsdl:part element="sch:GetEgroupsUserOwnOrManageResponse" name="GetEgroupsUserOwnOrManageResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetEgroupsUserOwnOrManageRequest">
    <wsdl:part element="sch:GetEgroupsUserOwnOrManageRequest" name="GetEgroupsUserOwnOrManageRequest">
    </wsdl:part>
  </wsdl:message>


  <wsdl:message name="FindEgroupByNameResponse">
    <wsdl:part element="sch:FindEgroupByNameResponse" name="FindEgroupByNameResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="FindEgroupByNameRequest">
    <wsdl:part element="sch:FindEgroupByNameRequest" name="FindEgroupByNameRequest">
    </wsdl:part>
  </wsdl:message>

  <wsdl:message name="ChangeExternalEmailAddressResponse">
    <wsdl:part element="sch:ChangeExternalEmailAddressResponse" name="ChangeExternalEmailAddressResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ChangeExternalEmailAddressRequest">
    <wsdl:part element="sch:ChangeExternalEmailAddressRequest" name="ChangeExternalEmailAddressRequest">
    </wsdl:part>
  </wsdl:message>

  <wsdl:message name="FindEgroupByIdResponse">
    <wsdl:part element="sch:FindEgroupByIdResponse" name="FindEgroupByIdResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="FindEgroupByIdRequest">
    <wsdl:part element="sch:FindEgroupByIdRequest" name="FindEgroupByIdRequest">
    </wsdl:part>
  </wsdl:message>

  <wsdl:message name="DeleteEgroupResponse">
    <wsdl:part element="sch:DeleteEgroupResponse" name="DeleteEgroupResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="DeleteEgroupRequest">
    <wsdl:part element="sch:DeleteEgroupRequest" name="DeleteEgroupRequest">
    </wsdl:part>
  </wsdl:message>

  <wsdl:message name="SynchronizeEgroupResponse">
    <wsdl:part element="sch:SynchronizeEgroupResponse" name="SynchronizeEgroupResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SynchronizeEgroupRequest">
    <wsdl:part element="sch:SynchronizeEgroupRequest" name="SynchronizeEgroupRequest">
    </wsdl:part>
  </wsdl:message>

  <wsdl:portType name="EgroupsService">

    <wsdl:operation name="UpdateEmailProperties">
      <wsdl:input message="tns:UpdateEmailPropertiesRequest" name="UpdateEmailPropertiesRequest">
      </wsdl:input>
      <wsdl:output message="tns:UpdateEmailPropertiesResponse" name="UpdateEmailPropertiesResponse">
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="AddEgroupEmailMembers">
      <wsdl:input message="tns:AddEgroupEmailMembersRequest" name="AddEgroupEmailMembersRequest">
      </wsdl:input>
      <wsdl:output message="tns:AddEgroupEmailMembersResponse" name="AddEgroupEmailMembersResponse">
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="RemoveEgroupEmailMembers">
      <wsdl:input message="tns:RemoveEgroupEmailMembersRequest" name="RemoveEgroupEmailMembersRequest">
      </wsdl:input>
      <wsdl:output message="tns:RemoveEgroupEmailMembersResponse" name="RemoveEgroupEmailMembersResponse">
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="AddEgroupMembers">
      <wsdl:input message="tns:AddEgroupMembersRequest" name="AddEgroupMembersRequest">
      </wsdl:input>
      <wsdl:output message="tns:AddEgroupMembersResponse" name="AddEgroupMembersResponse">
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="RemoveEgroupMembers">
      <wsdl:input message="tns:RemoveEgroupMembersRequest" name="RemoveEgroupMembersRequest">
      </wsdl:input>
      <wsdl:output message="tns:RemoveEgroupMembersResponse" name="RemoveEgroupMembersResponse">
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="GetEgroupsUserOwnOrManage">
      <wsdl:input message="tns:GetEgroupsUserOwnOrManageRequest" name="GetEgroupsUserOwnOrManageRequest">
      </wsdl:input>
      <wsdl:output message="tns:GetEgroupsUserOwnOrManageResponse" name="GetEgroupsUserOwnOrManageResponse">
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="FindEgroupByName">
      <wsdl:input message="tns:FindEgroupByNameRequest" name="FindEgroupByNameRequest">
      </wsdl:input>
      <wsdl:output message="tns:FindEgroupByNameResponse" name="FindEgroupByNameResponse">
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="FindEgroupById">
      <wsdl:input message="tns:FindEgroupByIdRequest" name="FindEgroupByIdRequest">
      </wsdl:input>
      <wsdl:output message="tns:FindEgroupByIdResponse" name="FindEgroupByIdResponse">
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="ChangeExternalEmailAddress">
      <wsdl:input message="tns:ChangeExternalEmailAddressRequest" name="ChangeExternalEmailAddressRequest">
      </wsdl:input>
      <wsdl:output message="tns:ChangeExternalEmailAddressResponse" name="ChangeExternalEmailAddressResponse">
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="SynchronizeEgroup">
      <wsdl:input message="tns:SynchronizeEgroupRequest" name="SynchronizeEgroupRequest">
      </wsdl:input>
      <wsdl:output message="tns:SynchronizeEgroupResponse" name="SynchronizeEgroupResponse">
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="DeleteEgroup">
      <wsdl:input message="tns:DeleteEgroupRequest" name="DeleteEgroupRequest">
      </wsdl:input>
      <wsdl:output message="tns:DeleteEgroupResponse" name="DeleteEgroupResponse">
      </wsdl:output>
    </wsdl:operation>

  </wsdl:portType>

  <wsdl:binding name="EgroupsServiceSoap11" type="tns:EgroupsService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

    <wsdl:operation name="UpdateEmailProperties">
      <soap:operation soapAction=""/>
      <wsdl:input name="UpdateEmailPropertiesRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="UpdateEmailPropertiesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="AddEgroupEmailMembers">
      <soap:operation soapAction=""/>
      <wsdl:input name="AddEgroupEmailMembersRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="AddEgroupEmailMembersResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="RemoveEgroupEmailMembers">
      <soap:operation soapAction=""/>
      <wsdl:input name="RemoveEgroupEmailMembersRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="RemoveEgroupEmailMembersResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="AddEgroupMembers">
      <soap:operation soapAction=""/>
      <wsdl:input name="AddEgroupMembersRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="AddEgroupMembersResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="RemoveEgroupMembers">
      <soap:operation soapAction=""/>
      <wsdl:input name="RemoveEgroupMembersRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="RemoveEgroupMembersResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="GetEgroupsUserOwnOrManage">
      <soap:operation soapAction=""/>
      <wsdl:input name="GetEgroupsUserOwnOrManageRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetEgroupsUserOwnOrManageResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="FindEgroupById">
      <soap:operation soapAction=""/>
      <wsdl:input name="FindEgroupByIdRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="FindEgroupByIdResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="FindEgroupByName">
      <soap:operation soapAction=""/>
      <wsdl:input name="FindEgroupByNameRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="FindEgroupByNameResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="ChangeExternalEmailAddress">
      <soap:operation soapAction=""/>
      <wsdl:input name="ChangeExternalEmailAddressRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="ChangeExternalEmailAddressResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="DeleteEgroup">
      <soap:operation soapAction=""/>
      <wsdl:input name="DeleteEgroupRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="DeleteEgroupResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="SynchronizeEgroup">
      <soap:operation soapAction=""/>
      <wsdl:input name="SynchronizeEgroupRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="SynchronizeEgroupResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

  </wsdl:binding>

  <wsdl:service name="EgroupsWebService">
    <wsdl:port binding="tns:EgroupsServiceSoap11" name="EgroupsServiceSoap11">
      <soap:address location="https://foundservices.cern.ch:443/ws/egroups/v1/EgroupsWebService/"/>
    </wsdl:port>
  </wsdl:service>


</wsdl:definitions>